

.privacy{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 100px;
    padding: 30px;
    width: var(--width-container);
    background-color: white;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;

    .header{
        text-align: center;
    }

    h2 {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    p {
        color: rgb(95, 95, 95);
        font-size:small;
        margin-top: 0px;
        margin-bottom: 16px;
    }
}






