
// Container for Content
.body {
  display: flex;
  flex-direction: column;

  margin: auto;
}





// Container for Footer
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  width: 100svw;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}