/* styles/Particles.module.css */
.particles {
  position: absolute;
  top: 50%;
  right: 90px;
  animation: spin 60s linear infinite;
}

.particle {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
