//----------------- Global Styles --------------------------


/*Main Corner Radius*/
$border-radius: 8px;
/*Main Box Shadow*/
$box-shadow:  rgba(0, 0, 0, 0.1) 0px 1px 1px;
/*Main Breakpoints for Media Queries*/
$wide-desktop-breakpoint: 1600px;
$desktop-breakpoint: 1300px; 
$laptop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 450px;
/*Navbar Background Color*/

$bg-color-footer: rgb(255, 255, 255);
/*Navbar Text Color*/

$social-icon-size: 35px;
$bg-color-social-icons:rgb(255, 255, 255);
$box-shadow-social-icons:2px 4px 12px rgba(0, 0, 0, 0.06);

//----------------- Home  --------------------------

/*Particle Config*/
$particle-count: 20;
$particle-size: 10px;
$particle-distance: 500px;
$particle-min-speed: 10000;  // ms
$particle-max-speed: 12000; // ms
$particle-max-delay: 8000; // ms


//----------------- Courses  --------------------------
/*Color of the Course Cards*/ 
$card-color: white;
$bg-color-sidebar: rgb(255, 255, 255);


//----------------- Blog  --------------------------
/*Color of the Course Cards*/ 
$card-color-blog: white;










