//----------------- Global Styles --------------------------

/*Main Background Color*/
$bg-color:#f5f5f7 ;//#f5f5f7;
/*Main Text Color*/
$text-color: #000000;
/*Main Corner Radius*/
$border-radius: 8px;
/*Main Box Shadow*/
$box-shadow: 2px 4px 12px rgba(0,0,0,.08);
/*Main Breakpoints for Media Queries*/
$wide-desktop-breakpoint: 1600px;
$desktop-breakpoint: 1300px; //1025px;
$laptop-breakpoint: 992px;//1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 450px;
/*Navbar Background Color*/
$bg-color-navbar: rgb(255, 255, 255);


$bg-color-social-icons:rgb(255, 255, 255);
$box-shadow-social-icons:2px 4px 12px rgba(0, 0, 0, 0.06);

//----------------- Home  --------------------------
/*Hero Background Color*/
$bg-color-hero: rgb(255, 255, 255);
/*Hero Card Color*/
$bg-color-content-card: rgb(255, 255, 255);


//----------------- Courses  --------------------------
/*Color of the Course Cards*/ 
$card-color: white;
$bg-color-sidebar: white;


//----------------- Blog  --------------------------
/*Color of the Course Cards*/ 
$card-color-blog: white;







