//----------------- Global Styles --------------------------



$text-color: black;
/*Main Corner Radius*/
$border-radius: 8px;
/*Main Box Shadow*/
$box-shadow:  rgba(0, 0, 0, 0.06) 0px 3px 5px;
/*Main Breakpoints for Media Queries*/
$wide-desktop-breakpoint: 1600px;
$desktop-breakpoint: 1300px; //1025px;
$laptop-breakpoint: 992px;//1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 450px;
/*Navbar Background Color*/

$bg-color-footer: rgb(255, 255, 255);
/*Navbar Text Color*/
//$nav-text-color: rgb(0, 0, 0);

$social-icon-size: 35px;
$bg-color-social-icons:rgb(255, 255, 255);
$box-shadow-social-icons:2px 4px 12px rgba(0, 0, 0, 0.06);

//----------------- Home  --------------------------
/*Hero Background Color*/
$bg-color-hero: rgb(255, 255, 255);
/*Hero Card Color*/
$bg-color-content-card: rgb(255, 255, 255);
/*Particle Config*/
$particle-count: 20;
$particle-size: 10px;
$particle-distance: 500px;
$particle-min-speed: 10000;  // ms
$particle-max-speed: 12000; // ms
$particle-max-delay: 8000; // ms


//----------------- Courses  --------------------------
/*Color of the Course Cards*/ 
$card-color: white;
$bg-color-sidebar: rgb(255, 255, 255);


//----------------- Blog  --------------------------
/*Color of the Course Cards*/ 
$card-color-blog: white;










