@import "_variables.scss";

/* Container for Entire site*/
.container {
  position: relative;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// Container for Header(Navbar)
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: var(--nav-bg-color);
  color: var(--text-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 10;
  flex-shrink: 0;
  width: 100svw;
}

// Container for Content
.main {
  margin-top: 70px; //due to the navbar
  width: 100vw;
}

// Container for Footer
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $box-shadow;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  width: 100svw;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}