@import "_variables.scss";

.breadcrumbs {
    padding-left: 30px;
    font-weight: 400;
  }
  
  .separator {
    margin: 0 6px;
    color: rgb(0, 0, 0);
    color: var(--text-color);
  }

  .link{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-weight: 400;
    color: var(--text-color);
  }