@import "_variables.scss";

.breadcrumbs {
    padding-left: 20px;
    font-weight: 400;
  }
  
  .separator {
    margin: 0 6px;
    color: rgb(203, 203, 203);
  }

  .link{
    color: rgb(203, 203, 203);
    font-weight: 600;
    font-weight: 400;
  }