.title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
}

.subtitle {
    margin-top: 0px;
    text-align: center;
}

.sepparator {
    height: 5px;
    background: #555555;
    width: 45px;
    border-radius: 3px;
    border-width: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    width: 70%;
    margin: auto;
}
  

@media only screen and (max-width: 500px ) {
    /*Applies to screens with width below 992 and height below 520*/
    .cards{
        width: 100%;
    }
  }
  
  