@import "_variables.scss";


.post {
    position: relative;
    display: block;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.post__content{
    //background-color: rgb(255, 255, 255);
    //background-color: #ffffff;
    //border-radius: $border-radius;
    //box-shadow: rgba(0, 0, 0, 0.01) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;;
    //box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 5px;
}

.post__title{
    text-align: center;
    margin: 0px;
    padding: 30pt 10pt 20pt 10pt;
}

.post__text{
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
    
}

/*@media only screen and (max-width: $desktop-breakpoint){
    .post{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}*/
@media only screen and (max-width: $tablet-breakpoint){
    .post{
        width: calc(100svw - (2 * 20px));
        
        //flex-direction: column;
    }
    //.post__content{
        //width: 100%;
        //margin: 5px;
    //}
    /*.post__sidebar {
        width: 100%;
        margin: 5px;
    }*/
}
//@media only screen and (max-width: $mobile-breakpoint){
    /*.post{
        flex-direction: column;
        width: 90%;
    }
    .post__content{
        width: 100%;
    }
    /*.post__sidebar {
        width: 100%;
    }*/
//}



