.title {
    text-align: center;
    margin-bottom: 0px;
}

.subtitle {
    margin-top: 0px;
    text-align: center;
}

.sepparator {
    height: 5px;
    background: #555555;
    width: 45px;
    border-radius: 3px;
    border-width: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
}