@import "_variables.scss";


:root {
  --text-color: black;
  --code-highlight: #e5e7eb;
  --bg-color: #F8FAFC;
  --nav-text-color: #000000;
  --nav-bg-color: rgb(255, 255, 255);
  --nav-logo-color: none;
  --nav-mob-bg-color: #ffffff;
  --nav-filter: none;
  --home-float-icons-color: none;
  --home-hero-bg-color: #F8FAFC;
  --home-hero-text-color: rgb(0, 0, 0);
  --home-hero-text-bg-color: #F8FAFC;
  --home-hero-sub-cta: rgb(255, 255, 255);      //SubCta
  --home-hero-sub-cta-border: #bb2828;          //SubCta
  --home-hero-sub-cta-bg: #bb2828;              //SubCta
  --home-hero-sub-cta-bg-hover: #ffffff;        //SubCta-hover
  --home-hero-sub-cta-hover: #bb2828;           //SubCta-hover
  --home-hero-sub-cta-pointer: rgb(0, 0, 0);    
  --home-hero-learn-cta: rgb(255, 255, 255);       //LearnCta
  --home-hero-learn-cta-border: #468cfd;          //LearnCta
  --home-hero-learn-cta-bg: #468cfd;              //LearnCta
  --home-hero-learn-cta-bg-hover: #ffffff;        //LearnCta-hover
  --home-hero-learn-cta-hover: #468cfd;           //LearnCta-hover
  --home-blog-content-bg-color: #F8FAFC;
  --home-courses-content-bg-color: #F8FAFC;
  --home-content-button: #468cfd;
  --home-content-button-border: none;
  --home-content-card-bg-color: white;
  --home-content-border-color:rgba(98, 98, 98, 0.15);
  --courses-paging-button-bg-color: #fff;
  --courses-paging-button-border-color: #000;
  --courses-paging-button-hover-color: #06f;
  --courses-paging-button-disabled-color: #bdbdbd;
  --course-prepost-bg-color: #bac4cf;
  --course-prepost-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  --course-sidebar-bg-color:#ffffff;
  --course-sidebar-border-color:#e7e7e7;
  --course-aside-icon-bg-color: rgb(255, 255, 255);
  --course-aside-exclamation-bg-color: #daffda;
  --course-aside-contents-bg-color: #dce7fe;
  --course-question-discord: #ffffff;
  --course-question-discord-bg: #5865F2;
  --course-question-discord-border: #5865F2;
  --course-question-discord-hover: #5865F2;
  --course-question-discord-bg-hover: #ffffff;
  --footer-bg-color: #fff;
  --footer-text-color: black;
}

[data-theme="dark"] {
  --text-color: rgb(255, 255, 255);
  --code-highlight: #303c53;
  --bg-color: #181818;
  --nav-text-color: #ffffff;
  --nav-bg-color:#282c35;
  --nav-logo-color: white;
  --nav-mob-bg-color: #282c35;
  --nav-filter: brightness(10);
  --home-float-icons-color: none;
  --home-circle-fill:#1b1b1b;
  --home-hero-bg-color: #181818;
  --home-hero-text-color: rgb(0, 0, 0);
  --home-hero-text-bg-color:#181818;
  --home-hero-sub-cta: rgb(255, 255, 255);      //SubCta
  --home-hero-sub-cta-border: #bb2828;          //SubCta
  --home-hero-sub-cta-bg: #bb2828;              //SubCta
  --home-hero-sub-cta-bg-hover: #282c35;        //SubCta-hover
  --home-hero-sub-cta-hover: #bb2828;           //SubCta-hover
  --home-hero-sub-cta-pointer: rgb(0, 0, 0);    
  --home-hero-learn-cta: rgb(255, 255, 255);       //LearnCta
  --home-hero-learn-cta-border: #468cfd;          //LearnCta
  --home-hero-learn-cta-bg: #468cfd;              //LearnCta
  --home-hero-learn-cta-bg-hover: #282c35;        //LearnCta-hover
  --home-hero-learn-cta-hover: #468cfd;           //LearnCta-hover
  --home-blog-content-bg-color: #181818;
  --home-courses-content-bg-color: #181818;
  --home-content-button: #468cfd;
  --home-content-button-border: none;
  --home-content-card-bg-color: #282c35;
  --home-content-border-color: rgba(255, 255, 255, 0.1);
  --courses-paging-button-bg-color: #282c35;
  --courses-paging-button-border-color: none;
  --courses-paging-button-hover-color: #06f;
  --courses-paging-button-disabled-color: #000000;
  --course-prepost-bg-color: #252525;
  --course-prepost-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  --course-sidebar-bg-color:#252525;
  --course-sidebar-border-color:#282c35;
  --course-aside-icon-bg-color: rgb(48, 48, 48);
  --course-aside-exclamation-bg-color: #195419;
  --course-aside-contents-bg-color: #1f1954;
  --course-aside-contents-bg-color: #371d7c;
  --course-question-discord: #ffffff;
  --course-question-discord-bg: #5865F2;
  --course-question-discord-border: #5865F2;
  --course-question-discord-hover: #5865F2;
  --course-question-discord-bg-hover: #ffffff;
  --footer-text-color: white;
  --footer-bg-color: #282c35;
}



html,
body {
  //width: 100vw;
  font-size: 1.02rem;
  font-family: "Titillium Web";
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  
}

/*Not optimal. This styling is actually already in the images/styles wordpress library but doesn't work.*/
.aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*Header Styling*/
h1 {
  margin-top: 35pt;
  margin-bottom: 20pt;
  font-weight: 400;
}

h2 {
  margin-top: 20pt;
  margin-bottom: 12pt;
  font-weight: 600;
}

h3 {
  margin-top: 12pt;
  margin-bottom: 6pt;
  font-weight: 400;
}

h4 {
  margin-top: 6pt;
  margin-bottom: 6pt;
}

p,
li {
  line-height: 26px;
}

/*Code block Styling*/
.wp-block-code::before {
  content: '';
  position: absolute;
  top: -11px;
  left: -10px;
  width: 25px;
  height: 21px;
  z-index: 1;
  background-color: #808095;
  -webkit-mask-image: url('../../public/icons/terminal.svg');
  mask-image: url('../../public/icons/terminal.svg');
  mask-size: cover;
}

.wp-block-code::after {
  content: '';
  background: var(--course-aside-icon-bg-color);
  position: absolute;
  top: -20px;
  /* Adjust the position as needed */
  left: -18px;
  /* Adjust the position as needed */
  width: 40px;
  /* Increase the size of the white circle as needed */
  height: 40px;
  /* Increase the size of the white circle as needed */
  border-radius: 50%;
  /* Make it a circle */
  //box-shadow: 0 0 0 3px rgb(227, 227, 227) inset;
}

.wp-block-code {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hljs {
  position: relative;
  border-radius: 3px;
  font-size: 16px;
  background: #282b2e !important;
  padding: 25px !important;
  line-height: 26px;
  & mark{
    background-color: #25487d !important;
  }
}

/*Youtube Embed Styling*/
.course-youtube-video__wrapper {
  position: relative;
  padding-top: 56.25%;
}

.course-youtube-video__wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.youtube-video__caption {
  color: var(--text-color);
  font-size: 13px;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* Highlighting option that can be added by adding the tag ".highlight-green" in wordpress*/
.highlight-green::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 6px;
  width: 25px;
  height: 25px;
  margin-left: -20px;
  z-index: 1;
  background-color: #6dd06d;
  -webkit-mask-image: url('../../public/icons/exclamation.svg');
  mask-image: url('../../public/icons/exclamation.svg');
  mask-size: cover;
}

.highlight-green::after {
  content: '';
  background: var(--course-aside-icon-bg-color);
  position: absolute;
  top: -20px;
  /* Adjust the position as needed */
  left: -21px;
  /* Adjust the position as needed */
  width: 40px;
  /* Increase the size of the white circle as needed */
  height: 40px;
  /* Increase the size of the white circle as needed */
  border-radius: 50%;
  /* Make it a circle */
  //box-shadow: 0 0 0 3px rgb(227, 227, 227) inset;
}

.highlight-green {
  position: relative;
  background-color: var(--course-aside-exclamation-bg-color);
  border-left: 5px solid #6dd06d;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 3px;
}

/* Sets the Styling for the Table of Content on the Course Pages*/
.course-table-of-content::before {
  content: '';
  position: absolute;
  top: -11px;
  left: 9px;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  z-index: 1;
  background-color: #aabee8;
  -webkit-mask-image: url('../../public/icons/bars.svg');
  mask-image: url('../../public/icons/bars.svg');
  mask-size: cover;
}

.course-table-of-content::after {
  content: '';
  background: var(--course-aside-icon-bg-color);
  position: absolute;
  top: -20px;
  /* Adjust the position as needed */
  left: -21px;
  /* Adjust the position as needed */
  width: 40px;
  /* Increase the size of the white circle as needed */
  height: 40px;
  /* Increase the size of the white circle as needed */
  border-radius: 50%;
  /* Make it a circle */
  //box-shadow: 0 0 0 3px rgb(227, 227, 227) inset;
}

.course-table-of-content {
  position: relative;
  border-left: 5px solid #aabee8;
  background-color: var(--course-aside-contents-bg-color);
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 3px;
}

.course-table-of-content__ordered-list {
  margin: 0px;
  padding-inline-start: 30px;
  list-style-type: disc;
}

.course-table-of-content__ordered-list li {
  &::marker {
    color: #aabee8;
  }
}

.course-table-of-content__ordered-list li:hover {
  font-weight: bold;
}

.course-table-of-content__ordered-list a {
  text-decoration: none;
  color: inherit;
}


/* Makes sure that navbar does not overlap header when clicking on content anchor*/
.wp-block-heading {
  scroll-margin-top: 100px;
}


// Code that is written in paragraphs is visually enhanced
p>code,
td>code {
  background: var(--code-highlight);
  border-radius: 0.25em;
  padding: 0.1em 0.25em;
  font-size: large;
}

// Adjust the styling of the Tables that have the class is-style-stripes
.is-style-stripes {
  border-bottom: none !important;

  tbody tr:nth-child(odd) {
    background-color: #e5e7eb;
  }
}

// Remove the line under links
a {
  text-decoration: none;
}

// SHOW LANGUAGE
// This code shows the programming language within the code blocks
// See https://github.com/westonruter/syntax-highlighting-code-block/wiki/Advanced-Usage
// Problem is the language is not always correct
/*
.wp-block-code {
	position: relative;
}

.wp-block-code .shcb-language {
	clip: initial;
	width: auto;
	height: auto;
	margin: auto;
	clip-path: none;

	bottom: 6px;
	right: 6px;
	line-height: 1em;
	white-space: normal;
	//font-family: sans-serif;
	font-size: 12px;
	//font-weight: bold;
  
}

.wp-block-code .shcb-language__label,
.wp-block-code .shcb-language__paren,  // yes, paren is correct :D
.wp-block-code .shcb-language__slug {
	display: none;
}

*/
// SHOW LANGUAGE END