@import "_variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1080px;
  --min-width: 368px;
  --guide-width: 1px;
  --horizontal-margin: 2rem;
  --grid-system-width: 100vw;

  --sm-grid-rows: 5;
  --sm-grid-columns: 8;


  @media screen and (min-width: 600px) {
    --md-grid-rows: 8;
    --md-grid-columns: 12;
  }

  --height: calc(var(--width) / var(--grid-columns) * var(--grid-rows));
  --width: clamp(calc(var(--min-width) - var(--guide-width)), calc(var(--grid-system-width) - var(--guide-width) - (var(--horizontal-margin) * 2)), calc(var(--max-width) - var(--guide-width)));
  --width-container: calc(var(--width) + var(--grid-columns)*1px);

  --grid-rows: var(--lg-grid-rows, var(--md-grid-rows, var(--smd-grid-rows, var(--sm-grid-rows))));
  --grid-columns: var(--lg-grid-columns, var(--md-grid-columns, var(--smd-grid-columns, var(--sm-grid-columns))));

  --column-width: calc(var(--width) / var(--grid-columns));
  --row-height: calc(var(--height) / var(--grid-rows));


  --cell-padding: 48px;
  --grid-divider-gap: calc(140px - var(--cell-padding));


  --primary-color: #468cfd;
  --secondary-color: #bb2828;
  --tertiary-color: #f2f2f2;
  --quaternary-color: #f8f8f8;

  --discord-color: #5865F2;
  --facebook-color: #3b5998;
  --twitter-color: #1da1f2;
  --youtube-color: #ff0000;

  --text-color:black;
  --border-radius: 3px;
  --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

}




html,
body {
  font-size: 1.02rem;
  font-family: "Open Sans", "system-ui", "Trebuchet MS", Arial, Helvetica, Verdana;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: var(--text-color);
  background:  linear-gradient(176deg, #f8f8f8 50%, #ffffff 100%);
  min-height: 100vh;
  background-attachment: fixed;
}

/*----------------------------------------------------------Image Styling----------------------------------------------------------*/

.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.wp-block-image>img {
  border-radius: 3px;
}

/*----------------------------------------------------------Header Styling----------------------------------------------------------*/
h1 {
  margin-top: 35pt;
  margin-bottom: 20pt;
  font-weight: 400;
}

h2 {
  margin-top: 28pt;
  margin-bottom: 12pt;
  font-weight: 400;
}

h3 {
  margin-top: 12pt;
  margin-bottom: 6pt;
  font-weight: 400;
}

h4 {
  margin-top: 6pt;
  margin-bottom: 6pt;
}

p,
li {
  line-height: 28px;
}

/*----------------------------------------------------------Code block Styling----------------------------------------------------------*/
.wp-block-code::before {
  content: '';
  position: absolute;
  top: -11px;
  left: -10px;
  width: 25px;
  height: 21px;
  z-index: 1;
  background-color: #808095;
  -webkit-mask-image: url('../../public/icons/terminal.svg');
  mask-image: url('../../public/icons/terminal.svg');
  mask-size: cover;
}

.wp-block-code::after {
  content: '';
  background: var(--course-aside-icon-bg-color);
  position: absolute;
  top: -20px;
  left: -18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.wp-block-code {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hljs {
  position: relative;
  border-radius: 3px;
  font-size: 16px;
  background: #282b2e !important;
  padding: 25px !important;
  line-height: 26px;

  & mark {
    background-color: #25487d !important;
  }
}

/*----------------------------------------------------------Youtube Embed Styling----------------------------------------------------------*/
.course-youtube-video {
  margin: 0px;
}

.course-youtube-video__wrapper {
  position: relative;
  padding-top: 56.25%;
}

.course-youtube-video__wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.youtube-video__caption {
  color: var(--text-color);
  font-size: 13px;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/*----------------------------------------------------------Highlighting option: ".highlight-green"----------------------------------------------------------*/
.highlight-green::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 6px;
  width: 25px;
  height: 25px;
  margin-left: -20px;
  z-index: 1;
  background-color: #6dd06d;
  -webkit-mask-image: url('../../public/icons/exclamation.svg');
  mask-image: url('../../public/icons/exclamation.svg');
  mask-size: cover;
}

.highlight-green::after {
  content: '';
  background: var(--course-aside-icon-bg-color);
  position: absolute;
  top: -20px;
  left: -21px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.highlight-green {
  position: relative;
  background-color: var(--course-aside-exclamation-bg-color);
  border-left: 5px solid #6dd06d;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 3px;
}

/* ----------------------------------------------------------Table of Content on Course Pages ----------------------------------------------------------*/
.course-table-of-content::before {
  content: '';
  position: absolute;
  top: -11px;
  left: 9px;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  z-index: 1;
  background-color: #aabee8;
  -webkit-mask-image: url('../../public/icons/bars.svg');
  mask-image: url('../../public/icons/bars.svg');
  mask-size: cover;
}

.course-table-of-content::after {
  content: '';
  background: var(--course-aside-icon-bg-color);
  position: absolute;
  top: -20px;
  left: -21px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.course-table-of-content {
  position: relative;
  border-left: 5px solid #aabee8;
  background-color: var(--course-aside-contents-bg-color);
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 3px;
}

.course-table-of-content__ordered-list {
  margin: 0px;
  padding-inline-start: 30px;
  list-style-type: disc;
}

.course-table-of-content__ordered-list li {
  &::marker {
    color: #aabee8;
  }
}

.course-table-of-content__ordered-list li:hover {
  font-weight: bold;
}

.course-table-of-content__ordered-list a {
  text-decoration: none;
  color: inherit;
}


/* ----------------------------------------------------------Makes sure that navbar does not overlap header when clicking on content anchor----------------------------------------------------------*/
.wp-block-heading {
  scroll-margin-top: 100px;
}


/* ---------------------------------------------------------- Code in Paragraphs----------------------------------------------------------*/
p>code,
td>code {
  background: var(--code-highlight);
  border-radius: 0.25em;
  padding: 0.1em 0.25em;
  font-size: large;
}

/* ---------------------------------------------------------- Table Styling ----------------------------------------------------------*/
.is-style-stripes {
  border-bottom: none !important;

  tbody tr:nth-child(odd) {
    background-color: #e5e7eb;
  }
}

/* ---------------------------------------------------------- Remove Line under Links----------------------------------------------------------*/
a {
  text-decoration: none;
}

// SHOW LANGUAGE
// This code shows the programming language within the code blocks
// See https://github.com/westonruter/syntax-highlighting-code-block/wiki/Advanced-Usage
// Problem is the language is not always correct
/*
.wp-block-code {
	position: relative;
}

.wp-block-code .shcb-language {
	clip: initial;
	width: auto;
	height: auto;
	margin: auto;
	clip-path: none;

	bottom: 6px;
	right: 6px;
	line-height: 1em;
	white-space: normal;
	//font-family: sans-serif;
	font-size: 12px;
	//font-weight: bold;
  
}

.wp-block-code .shcb-language__label,
.wp-block-code .shcb-language__paren,  // yes, paren is correct :D
.wp-block-code .shcb-language__slug {
	display: none;
}

*/
// SHOW LANGUAGE END