/*@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");*/

:root {
  /*font-family: "Titillium Web", sans-serif;*/
  --mainColor: #ffffffd0;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0px;
  background-color: #f5f5f7;
  
  box-sizing:border-box
}

