@import "_variables.scss";

// -------------- HERO START ---------------------------------------------

.bottomparticles {
  z-index: -10;
  position: absolute;
  top: 500px;
  left: 0;
  width: 100svw;
  z-index: 1;

  .bubble {
    opacity: 0;
    position: absolute;
    color: white;
    width: 0px;
    height: 0px;

    // Randomize bubles
    @for $i from 1 through $particle-count {
      // random animation speed
      $speed: random($particle-max-speed) + 0ms;

      @if $speed < $particle-min-speed {
        $speed: $particle-min-speed + 0ms;
      }

      &:nth-child(#{$i}) {
        left: random(100) + 0%;
        animation: blow $speed infinite;
        animation-delay: random($particle-max-delay) + 0ms;
      }
    }
  }
}

@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0) scale(4);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(0, -$particle-distance) scale(0.1);
  }
}

.circle {
  top: 580px;
  width: 720px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  z-index: 0;
  border-width: 100px;
  border-color: #ffffff00;
  fill: rgba(87, 135, 198, 0.859);
}

.hero {
  display: flex; // block:  starts on new line + takes up the whole width
  justify-content: center;
  max-height: 290px;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #081b44;
  overflow: hidden;
}

.hero__container {
  max-height: 300px;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}


.hero__main {
  position: relative;
  text-align: center;
  margin: 0px;
  z-index: 500;
  color: white;
  bottom: 0px;
  right: 0px;

  & h1 {
    margin: 0px;
    font-family: 'bricolage';
    font-weight: bold;
    font-size: 56px;
  }

  & h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

.hero__cta {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subCta {
  // Size and Position
  display: flex;
  width: fit-content;
  // Style

  color: white;
  background-color: #e91010;
  border: 2px solid #e91010;
  border-radius: 8px;
  cursor: pointer;

  // Hover
  &:hover {
    background-color: #ffffff;
    color: #e91010;
  }
}

.subCta__content {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 15px;

  & i {
    font-size: 30px;
    padding-right: 15px;
  }
}


.learnCta {
  //Size and Position
  display: flex;
  width: fit-content;
  padding: 0px;
  text-align: center;
  // Style
  color: #fff;
  background-color: #0071e3;
  border: 2px solid #0071e3;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;

  // Hover
  &:hover {
    background-color: #ffffff;
    color: #0071e3;
  }
}

.learnCta__content {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 5px 30px 5px 25px;

  & i {
    font-size: 30px;
    padding-right: 15px;
  }
}



@media only screen and (max-width: $laptop-breakpoint) {
  .circle {
    display: none;
  }

  .hero__main {
    & h1 {
      font-size: 40px;
    }

    & h2 {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .hero {
    max-height: 450px;
  }

  .hero__main {
    & h1 {
      font-size: 30px;
    }

    & h2 {
      font-size: 20px;
    }
  }

  .hero__cta {
    flex-direction: column;
  }


}

// -------------- HERO END ---------------------------------------------



// -------------- CONTENT START ---------------------------------------------

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #e8e8ef;
  position: relative;
  z-index: 5;
  width: 100vw;
}

.content__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  width: 65%;
  align-content: center;
  gap: 40px;
  margin: 10px 0px 35px 0px;


}

.content__header {
  margin-top: 25px;
  margin-bottom: 10px;
}

.content__left {
  display: flex;
  flex-direction: column;
}

.content__right {
  display: flex;
  flex-direction: column;
}

.content__card {
  display: flex;
  align-items: flex-start;

  //justify-content: center;
  height: 160px;

  margin-top: 20px;
  background-color: $bg-color-content-card;

  overflow: hidden;
  justify-content: flex-start;
  border-radius: $border-radius;
  box-shadow: $box-shadow;


}


.featured__text {

  padding: 5px 10px 5px 10px;
  flex: 1 1 auto;
  /* This adds the scroll bar but it's better to have the truncated ... text
  overflow-y: auto;
  //mask-image: linear-gradient(180deg, #000 80%, transparent);
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background: rgb(168, 168, 168);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(226, 215, 215);
    border-radius: 100vw;
  }*/
}

.featured__img {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  overflow: hidden;

  img {
    height: 160px;
  }
}

.featured__title {
  font-size: large;
  margin: 0px;
}

.featured__date {
  margin: 0px;
  font-weight: 400;
  font-size: small;
}

.featured__excerpt {
  margin: 0px;
  font-weight: 400;
  font-size: medium;
  overflow-y: hidden;
}


.content__link {
  color: black;
  margin-bottom: 10px;
}





@media only screen and (hover: hover) {
  .content__card {
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition-duration: .1s;
    }
  }
}


@media only screen and (max-width: $wide-desktop-breakpoint) {
  .content__container {
    width: 80%;
  }
}

@media only screen and (max-width: $desktop-breakpoint) {
  .content__container {
    width: 100%;
  }
}

@media only screen and (max-width: $tablet-breakpoint) {
  .content__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }


  .featured__img {
    display: none;
  }

}