@import "_variables.scss";

// -------------- HERO START ---------------------------------------------

// -------------- Particle Logos ---------------------------------------------

.bottomparticles {
  z-index: -10;
  position: absolute;
  top: 500px;
  left: 0;
  width: 100svw;
  z-index: 1;

  .bubble {
    opacity: 0;
    position: absolute;
    color: var(--home-float-icons-color);
    width: 0px;
    height: 0px;

    // Randomize bubles
    @for $i from 1 through $particle-count {
      // random animation speed
      $speed: random($particle-max-speed) + 0ms;

      @if $speed < $particle-min-speed {
        $speed: $particle-min-speed + 0ms;
      }

      &:nth-child(#{$i}) {
        left: random(100) + 0%;
        animation: blow $speed infinite;
        animation-delay: random($particle-max-delay) + 0ms;
      }
    }
  }
}

@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0) scale(2);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(0, -$particle-distance) scale(2);
  }
}

// -------------- Title Color switch ---------------------------------------------

.process {
  display: flex;
  background-color: var(--home-hero-bg-color);
  justify-content: center;

  .processsteptitlecontainer {
    position: relative;

    .processsteptitleoverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      opacity: 1;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;

    }

  }

  .processstep1 {
    .processsteptitle {
      background-image: var(--text-color);
      animation: animated-gradient-title-1 8s infinite;
    }

    .processsteptitleoverlay {
      background-image: linear-gradient(90deg, var(--gradient-color-1), var(--gradient-color-2));
      animation: animated-gradient-title-overlay-1 8s infinite;
    }
  }

  .processstep2 {
    .processsteptitle {
      background-image: var(--text-color);
      animation: animated-gradient-title-2 8s infinite;
    }

    .processsteptitleoverlay {
      background-image: linear-gradient(90deg, var(--gradient-color-2), var(--gradient-color-3));
      animation: animated-gradient-title-overlay-2 8s infinite;
    }
  }

  .processstep3 {
    .processsteptitle {
      background-image: var(--text-color);
      animation: animated-gradient-title-3 8s infinite;
    }

    .processsteptitleoverlay {
      background-image: linear-gradient(90deg, var(--gradient-color-3), var(--gradient-color-1));
      animation: animated-gradient-title-overlay-3 8s infinite;
    }
  }
}


@keyframes animated-gradient-title-1 {

  0%,
  16.667%,
  100% {
    opacity: 0;
  }

  33.333%,
  83.333% {
    opacity: 1
  }
}

@keyframes animated-gradient-title-2 {

  0%,
  16.667%,
  66.667%,
  100% {
    opacity: 1
  }

  33.333%,
  50% {
    opacity: 0
  }
}

@keyframes animated-gradient-title-3 {

  0%,
  50%,
  100% {
    opacity: 1
  }

  66.667%,
  83.333% {
    opacity: 0
  }
}


@keyframes animated-gradient-title-overlay-1 {

  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0
  }
}


@keyframes animated-gradient-title-overlay-2 {

  0%,
  16.667%,
  66.667%,
  100% {
    opacity: 0
  }

  33.333%,
  50% {
    opacity: 1
  }

}


@keyframes animated-gradient-title-overlay-3 {

  0%,
  50%,
  100% {
    opacity: 0
  }

  66.667%,
  83.333% {
    opacity: 1
  }
}



.hero {
  display: flex; // block:  starts on new line + takes up the whole width
  justify-content: center;
  background-color: var(--home-hero-bg-color);
  overflow: hidden;
}

.hero__container {
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}


.hero__main {
  position: relative;
  text-align: center;
  margin: 0px;
  z-index: 500;

  bottom: 0px;
  right: 0px;

  & h1 {
    margin: 0px;
    font-family: 'bricolage';
    font-weight: bold;
    font-size: 56px;
    background-color: var(--home-hero-text-bg-color);
    padding: 5px;
  }

  & h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 40px;
    margin-bottom: 32px;
    background-color: var(--home-hero-text-bg-color);
    padding: 5px;
  }
}

.hero__tagline{
  margin-bottom: 30px !important;
}

.hero__socialproof{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.hero__avatar{
  width: 40px;
  height: 40px;
  margin-right: -10px;
}

.avatar{
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid var(--bg-color);
}

.socialproof__text{
  text-align: left;
  margin-left: 25px;
}


.hero__cta {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subCta {
  // Size and Position
  display: flex;
  width: fit-content;
  // Style
  color: var(--home-hero-sub-cta);
  background-color: var(--home-hero-sub-cta-bg);
  border: 2px solid var(--home-hero-sub-cta-border);
  border-radius: 8px;
  cursor: pointer;

  // Hover
  &:hover {
    background-color: var(--home-hero-sub-cta-bg-hover);
    color: var(--home-hero-sub-cta-hover);
  }

  /*&::before {
    content: '';
    position: absolute;
    top: 317px;
    left: 510px;
    width: 56px;
    height: 41px;
    z-index: 1;
    background-color:var(--home-hero-sub-cta-pointer);
    -webkit-mask-image: url('../../public/arrow_06.svg');
    mask-image: url('../../public/arrow_06.svg');
    transform:scale(-1.1,1.1);
    mask-size: cover;
  }
  &::after {
    content: 'Help me reach 10k!';
    font-family: 'bricolage';
    color: var(--home-hero-sub-cta-pointer);
    position: absolute;
    top: 335px;
    left: 560px;
    width: 100px;
    height: 40px;
    z-index: 1;

  }*/
}

.learnCta {
  //Size and Position
  display: flex;
  width: fit-content;
  // Style
  color: var(--home-hero-learn-cta);
  background-color: var(--home-hero-learn-cta-bg);
  border: 2px solid var(--home-hero-learn-cta-border);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;

  // Hover
  &:hover {
    background-color: var(--home-hero-learn-cta-bg-hover);
    color: var(--home-hero-learn-cta-hover);
  }
}

@mixin cta__content {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;

  & i {
    font-size: 30px;
    padding-right: 15px;
  }
}

.subCta__content {
  @include cta__content();
  padding: 5px 20px 5px 15px;
}

.learnCta__content {
  @include cta__content();
  padding: 5px 30px 5px 25px;
}


@media only screen and (max-width: $laptop-breakpoint) {
  .circle {
    display: none;
  }

  .hero__main {
    & h1 {
      font-size: 35px;
    }

    & h2 {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {


  .hero__main {
    & h1 {
      font-size: 30px;
    }

    & h2 {
      font-size: 20px;
    }
  }

  .hero__cta {
    flex-direction: column;
  }
}

// -------------- HERO END ---------------------------------------------



// -------------- CONTENT START ---------------------------------------------

@mixin content {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //text-align: left;
  position: relative;
  z-index: 5;
  padding-bottom: 25px;


}

.blog {
  @include content;
  background-color: var(--home-blog-content-bg-color);
  border-top: 5px dotted var(--home-content-border-color);
  border-bottom: 5px dotted var(--home-content-border-color);
}

.courses {
  @include content;
  background-color: var(--home-courses-content-bg-color);
}

.prelim {
  width: 80%;
  margin: 0 auto;
}

/*.content__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  width: 65%;
  align-content: center;
  gap: 40px;
  margin: 10px 0px 35px 0px;
}*/

.content__header {
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: 'bricolage';
  font-size: Xx-large;
}

.content__line {
  width: 100%;
  border: none;
  border-bottom: 4px solid #1f14e9;
  margin: 20px 0;
  width: 80px;
}

.content__cards {
  display: grid;
  row-gap: 50px;
  column-gap: 30px;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
  grid-template-columns: repeat(4, minmax(300px, 320px));
  grid-auto-flow: dense;
  justify-items: center; // center cards within grid
  justify-content: center; // center all cards within page
  width: 80%;
  margin: auto;
}

/*.content__grid{
  display: grid;
  row-gap: 50px;
  column-gap: 30px;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
/*grid-template-columns: repeat(4, minmax(300px, 320px));
  grid-auto-flow: dense;
  justify-items: center; // center cards within grid
  justify-content: center; // center all cards within page
  width: 80%;
  margin: auto;
}*/

.content__button {
  display: block;
  margin: auto;
  margin-top: 35px;
  max-width: 200px;
}

.content__button__outer {
  display: flex;
  width: fit-content;
  color: var(--home-content-button);
  border: 2px solid var(--home-content-button-border);
  border-radius: 8px;
  cursor: pointer;
}

.content__button__inner {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 20px;

  & i {
    font-size: 30px;
    padding-left: 15px;
  }
}

@media only screen and (hover: hover) {
  .content__card {
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition-duration: .1s;
    }
  }
}

@media only screen and (max-width: 1350px) {
  .content__cards {
    grid-template-columns: repeat(3, minmax(300px, 320px));
    width: 85%;
  }
}

@media only screen and (max-width: 1000px) {
  .content__cards {
    grid-template-columns: repeat(2, minmax(300px, 320px));
    width: 85%;
  }
}

@media only screen and (max-width: 670px) {
  .content__cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
    width: 85%;
  }
}