@import "_variables.scss";

.wrap{
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.header__brand{
	text-decoration: 'none';
	display: flex;
	padding-left: 15px;
}

.header__txt {
	color: var(--nav-text-color);
	padding-left: 10px;
	padding-top: 9px;
	margin: 0px;
	font-size: larger;
	font-weight: 600;
}

.header__nav {
	display: flex;
	align-items: center;
	padding-right: 20px;
}

.nav__link {
	margin: 0 1rem;
	color: var(--nav-text-color);
	font-size: larger;
	font-weight: 400;
	&:hover {
		transform: scale(1.1);
		transition-duration: .1s;
	}
}


.nav__btn {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: $text-color;
	display: none;
	opacity: 0;
	font-size: 1.8rem;
}


@media only screen and (max-width: $laptop-breakpoint) {

	.wrap{
		width: 100%;
	}
	
	.nav__btn { //this is the hamburger menu
		visibility: visible;
		opacity: 1;
		display: flex;
		padding-right: 40px;
		flex-wrap: wrap; // For align content to have an effect this must be set to wrap
		align-content: center;
	}

	// This is the mobile menu
	.header__nav {
		position: absolute;
		top: 100px;
		right: 10px;
		left: 10px;
		padding: 30px 0px 30px 0px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: rgb(255, 255, 255);
		border-radius: $border-radius;
		box-shadow: $box-shadow;
	}


	.responsive_nav {
		display: none;
	}

	.nav__closebtn {
		position: absolute;
		right: 10px;
		top: 10px;
	}

}

