@import "_variables.scss";

.header__nav {
	display: flex;
	align-items: center;
	padding-right: 20px;
}

.nav__link {
	margin: 0 1rem;
	color: $text-color;
	font-size: larger;
	&:hover {
		transform: scale(1.1);
		transition-duration: .1s;
	}
}

.header__logo {
	color: $text-color;
	padding-left: 36px;
	margin: 0px;
	font-size: larger;
}

.nav__btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: $text-color;
	//visibility: hidden;
	display: none;
	opacity: 0;
	font-size: 1.8rem;
}


@media only screen and (max-width: 1024px) {
	.header{
		backdrop-filter: none;  //required for mobile navbar to work
	}
	
	.nav__btn { //this is the hamburger menu
		visibility: visible;
		opacity: 1;
		display: flex;
	}

	// This is the mobile menu
	.header__nav {
		position: absolute;
		//width: calc(100%);
		top: 100px;
		right: 10px;
		left: 10px;
		//top: 0;
		//left: 0px;
		//height: fit-content;
		padding: 30px 0px 30px 0px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: rgb(255, 255, 255);
		border-radius: $border-radius;
		box-shadow: $box-shadow;
		
		//transition: opacity 1s ease;
		//opacity: 0;
		
	}

	.responsive_nav {
		//transform: translateY(-100vh);
		display: none;
		//opacity: 1;
	}

	.nav__closebtn {
		position: absolute;
		right: 10px;
		top: 10px;
	}

	/*nav a {
		font-size: 1.5rem;
	}*/
}

.seperator {
	width: 100vw; /* Line under  Navbar*/
  }