/*$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 992px;
$desktop-breakpoint: 1024px;*/



.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	margin: 5px 10px 10px 10px;
	border-radius: 8px;
	background-color: var(--mainColor);
	color: var(--textColor);
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: calc(100vw - (2 * 20px)); /* Full width minus the margin on each side*/
	z-index: 10;
	flex-shrink: 0;
	backdrop-filter: blur(4.5px);
    //-webkit-backdrop-filter: blur(4.5px);
}

.header__nav {
	display: flex;
	align-items: center;
	padding-right: 20px;
}

.nav__link {
	margin: 0 1rem;
	color: var(--textColor);
	font-size: larger;
	&:hover {
		transform: scale(1.1);
		transition-duration: .1s;
	}
}

.header__logo {
	color: var(--textColor);
	padding-left: 36px;
	margin: 0px;
	font-size: larger;
}

.nav__btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	//visibility: hidden;
	display: none;
	opacity: 0;
	font-size: 1.8rem;
}


@media only screen and (max-width: 1024px) {
	.header{
		backdrop-filter: none;  //required for mobile navbar to work
	}
	
	.nav__btn { //this is the hamburger menu
		visibility: visible;
		opacity: 1;
		display: flex;
	}

	// This is the mobile menu
	.header__nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		//display: absolute; # this is wrong
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	.responsive_nav {
		transform: translateY(100vh);
		background-color: white
	}

	.nav__closebtn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	/*nav a {
		font-size: 1.5rem;
	}*/
}

.seperator {
	width: 100vw; /* Line under  Navbar*/
  }