.main {
    margin: auto;
    width: clamp(400px, 60%, 900px);
    margin-top: 100px;
    margin-right: auto; //redundant? see margin above?
    width: 100%;
    max-width: 80ch;
}

.title {
    text-align: center;
    margin-bottom: 0px;
}



