$desktop-breakpoint: 1025px;
$laptop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 600px;

.post {
    /*margin: auto;
    width: clamp(400px, 60%, 900px);
    margin-top: 100px;
    margin-right: auto; //redundant? see margin above?
    width: 100%;
    max-width: 80ch;*/
    position: relative;
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.post__content{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}


.title {
    text-align: center;
    border-bottom: 4px solid transparent;
    background-image: linear-gradient(to right, transparent, #b5b5b5, #b5b5b5, transparent);
    background-position: bottom;
    background-size: 600px 3px;
    background-repeat: repeat-x;
}

.post__text{
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width: 1200px){
    .post{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}
@media only screen and (max-width: $tablet-breakpoint){
    .post{
        flex-direction: column;
    }
    .post__content{
        width: 100%;
        margin: 5px;
    }

}
@media only screen and (max-width: $mobile-breakpoint){
    .post{
        flex-direction: column;
        width: 90%;
    }
    .post__content{
        width: 100%;
    }
}

