$desktop-breakpoint: 1025px;
$laptop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 600px;

/*.sidebar__wrap{
    //display: block;
    //width: 300px;
    //height: 100%;
    //right: 0px;
    //margin-left: 30px;
}*/

.sidebar__absolute{
    margin-top: 100px;
    width: 300px;
    right: -200px;
    position: absolute;
    list-style-type: none;
    //margin: 0;
}

.sidebar__stay{
    position: fixed;
    top: 100px;
    right: 280px;
    width: 300px;
    z-index: 11;
    bottom: 12px;
    overflow-y: auto;
    margin: 0px;
}




.sidebar__list {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    max-height: calc(100% - 0px);
    overflow-y: auto;
}

.sidebar__item{
    text-align: left;
    padding: 5px 5px 5px 5px;
    border-bottom:1px solid #ddd;
}

.sidebar__link__active{
    font-weight: bold;
}

.item__link{
    color: black;
    text-decoration: none;
}



@media only screen and (max-width: $tablet-breakpoint){
    .sidebar__wrap{
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
    .post{
        flex-direction: column;
    }
    .post__content{
        width: 100%;
        margin: 5px;
    }
    .post__sidebar {
        width: 100%;
        margin: 5px;
    }
}




