$desktop-breakpoint: 1025px;
$laptop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 600px;

.wrap{
    position: absolute;
    left: 620px;
    top: 120px;
    width: 300px;

}

.block{
    height: calc(90vh - 240px);
    overflow-y: auto;
}

.sidebar__absolute{
    position: absolute;
    width: 300px;
    list-style-type: none;
}

.sidebar__stay{
    position: fixed;
    top: 120px;
    width: 300px;
    list-style-type: none;
}


.sidebar__toc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 5px;
}

.sidebar__list {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.474);
    border-radius: 5px;
}

.sidebar__item{
    text-align: left;
    padding: 8px 5px 8px 15px;
    border-top:1px solid #ddd;
}

.sidebar__link__active{
    font-weight: bold;
}

.item__link{
    color: black;
    text-decoration: none;
}



@media only screen and (max-width: 1200px){
    .wrap{
        position: static;
    }
    .block{
        height: auto;
        overflow:visible;
    }
    .sidebar__absolute, .sidebar__stay{
        position: static;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 600px;
        left: 50%;
        transform: translate(0px, 0px);
    }
    .post{
        flex-direction: column;
    }
    .post__content{
        width: 100%;
        margin: 5px;
    }
    /*.post__sidebar {
        width: 100%;
        margin: 5px;
    }*/
}




