@import "_variables.scss";

// ---------------------------CSS for Social Media Icons-------------------------------------

.wrapper {
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post__socials {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease-out;
    border-width: 0px;
}


.post__socials div {
    display: inline-block;
    color: black;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    transition: all 0.4s ease-out;
}

.post__socials div i {
    font-size: 20px;
    line-height: 50px;
}

.post__socials span {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    width: 110px;
    text-align: center;

}

/* Color switch on hover is only on if device support hover */
@media (hover: hover) {
    .post__facebook:hover>div {
        background-color: #4267B2;

        & i {
            color: white
        }
    }

    .post__linkedin:hover>div {
        background-color: #0072b1;

        & i {
            color: white
        }
    }

    .post__twitter:hover>div {
        background-color: #1DA1F2;

        & i {
            color: white
        }
    }

    .post__github:hover>div {
        background-color: #171515;

        & i {
            color: white
        }
    }

    .post__youtube:hover>div {
        background-color: #FF0000;

        & i {
            color: white
        }
    }

    .post__copy:hover>div {
        background-color: #171515;

        & i {
            color: white
        }
    }
}


.post__copy:active {

    .getlink {
        display: none;
    }

    .copied {
        display: inline-block;
    }
}


/* Icons only expand if device supports hover and width is larger than 501px */
@media only screen and (hover: hover) and (min-width: 501px) {
    .post__socials:hover {
        width: 170px;
    }
}

/* If width is smaller than 501px, Icons remain at width 50px */
@media only screen and (max-width: 500px) {
    .post__socials {
        width: 50px;
    }
}

/* Only for very narrow devices: don't show circle and shadow */
@media only screen and (min-width: 450px) {
    .post__socials {
        background: #fff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    }
}