.content {
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  display: flex;
  font-family: "Open Sans", "system-ui", "Trebuchet MS", Arial, Helvetica, Verdana;
  gap: 100px;
  margin-top: 50px;
  

  // Posts

  .content__posts {
    width: calc((var(--width) / 2) - 50px);
    

    .content__post{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 35px;
      font-weight: 700;
      color: black;
    }

    .post__title {
      font-weight: bold;
    }

    p {
      margin-bottom: 0px;
      color: black;
    }


  }

  // Courses

  .content__courses {
    width: calc((var(--width) / 2) - 50px);

    .content__course{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 35px;
      font-weight: 700;
      color: black;
    }

    .course__title {
      font-weight: bold;
    }

    p {
      margin-bottom: 0px;
      color: black;
    }
  }


  .date{
    font-size: 12px;
    font-weight: bold;
    color: #616465;
  }



}





@media (max-width: 992px) {
  .content {
    gap: 30px;
    padding: 10px;
  }
}


@media (max-width: 600px) {
  .content {
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    
    .content__posts,
    .content__courses {
      width: 100%;

        h2{
          font-size: 30px;
          width: fit-content;
          margin: auto;
        }
    }
  }
}