.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  width: var(--width);

  .content__posts,
  .content__projects {
 

    .content__post,
    .content__project {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 10px 0px 10px 0px;
      min-height: 220px;
    }

    h2 {
      font-size: 30px;
      font-weight: bold;
      color: black;
    }

    .post__title,
    .project__title {
      font-weight: bold;
    }

    p {
      margin-bottom: 0px;
      color: black;
    }

    .date {
      color: #909090 !important;
      //margin-top: auto; puts the date at the bottom
      
    }
  }

  .content__projects {
    .project__title:hover~.projectImage {
      opacity: 1;
      transform: scale(1);
    }
  }


  .projectImage {
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transform: scale(0);
  }



}




@media (max-width: 900px) {
  .content__wrap {
    gap: 50px;
    padding: 20px;
  }
  .content__emoji {
    display: none;
  }
}


@media (max-width: 600px) {
  .content__wrap {
  grid-template-columns: repeat(1, 1fr);

  .content__posts,
  .content__projects {
    width: var(--width);
  }
  }


}