
$squareTiming: 0.3s;
$squareSize: 4em;

.squareLoader {
  max-width: $squareSize;
  &__square {
    height: $squareSize/2;
    width: $squareSize/2;
    background-color: rgb(236, 61, 61);
    float: right;
    animation: squareLoaderAnim 3s infinite; 
    &:nth-child(1) {
      float: left; }
    @for $i from 1 to 5 {
      &:nth-child(#{$i}) {
        animation-delay: $squareTiming*$i;
      }
    }
  }
}
@keyframes squareLoaderAnim {
  0% {opacity: 1;}
  40% {opacity: 0;}
  50% {opacity: 0;}
  90% {opacity: 1;}
  100% {opacity: 1;}
}