.about {
  justify-content: center;
  align-items: center;
  padding: 50px;
  display: flex;
  font-family: "Open Sans", "system-ui", "Trebuchet MS", Arial, Helvetica, Verdana;
  gap: 100px;
  margin-top: 50px;
  overflow: hidden;

  // Posts

  .about__image {
    width: calc((var(--width) / 2) - 50px);


    .image__container {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;
      justify-content: center;
      height: calc((1061 / 1170) * 380px);
      width: 380px;
      margin: auto;
    }

  }


  .about__text {
    width: calc((var(--width) / 2) - 50px);

    .content__course {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 30px;
      font-weight: 700;
    }

    .course__title {
      font-weight: bold;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .icon{
    padding: 15px;
    color: black;
  }

}




/*
@media (max-width: 992px) {
  .about {
    gap: 30px;
    padding: 10px;
  }
}*/


@media (max-width: 760px) {
  .about{
    flex-direction: column;
    gap: 10px;

    .about__image,
    .about__text {
      width: 100%;
      padding: 30px;


      h2{
        font-size: 30px;
        width: fit-content;
        margin: auto;
      }
    }
  }
}



@media (max-width: 450px) {
  .about {
    .about__image {

      .image__container {

        height: calc((1061 / 1170) * 250px);
        width: 250px;
        margin: auto;
      }
  
    }
  }
}
