.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  overflow: hidden;

  .about__image {
    width: calc((var(--width) / 2) - 50px);

    .image__container {
      display: flex;
      position: relative;
      z-index: 2;
      justify-content: center;
      align-items: center;
      height: calc((1061 / 1170) * 380px);
      width: 380px;
      margin: auto;
    }
  }

  .about__text {
    width: calc((var(--width) / 2) - 50px);

    h2 {
      font-size: 30px;
      font-weight: bold;
    }
  }

  .about__socials {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .about__socialIcon {
    padding: 15px;
    color: black;
  }

}


@media (max-width: 760px) {

  .about {
    flex-direction: column;
    gap: 10px;

    .about__image,
    .about__text {
      width: var(--width);

      h2 {
        font-size: 30px;
        width: fit-content;
        margin: auto;
      }
    }
  }
}



@media (max-width: 450px) {
  .about {
    .about__image {
      .image__container {
        height: calc((1061 / 1170) * 250px);
        width: 250px;
        margin: auto;
      }

    }
  }
}