

.card{
  margin: 0px; // Margin between Card and Grid Border
  overflow: hidden;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  background-color: var(--home-content-card-bg-color);
  /* Grow and shrink between values*/
  //min-width: 250px;
  //max-width: 325px;

  /* Card Hover*/
  transition: 0.5s;
  animation: ease-in;
  &:hover{
    transform: scale(1.05);
  }
}

.card__image{
  overflow: hidden;
  /* Scale image to parent div*/
  max-width: 100%;
}


.title__text{
  margin: 15px;
  font-weight: 600;
}


.card__date{
  margin-left: 15px;
  font-size: smaller;
  color: var(--text-color);
}

.title__text{
  color: var(--text-color);
}

.card__description{
  color: var(--text-color);
  margin: 15px;
  margin-top: 10px;
}

/*.card__button {
  width: 100%;
  color: #fff;
  font-size: 1rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none; 

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(rgb(119, 119, 255), 15%);
    transition: all .3s;
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue($color: #000000);
    z-index: -2;
  }

  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}*/
