@import "@/styles/_variables.scss";


// -------------- HERO START ---------------------------------------------


.container{

  --max-width: 1080px;
  --min-width: 368px;
  --guide-width: 1px;
  --horizontal-margin: 2rem;
  --grid-system-width: 100vw;

  --sm-grid-rows: 5;
  --md-grid-rows: 8;
  --sm-grid-columns: 8;
  --md-grid-columns: 12;
  --sm-height: calc(var(--width) / var(--grid-columns) * var(--grid-rows));
  --smd-height: calc(var(--width) / var(--grid-columns) * var(--grid-rows));

  --width: clamp(calc(var(--min-width) - var(--guide-width)),calc(var(--grid-system-width) - var(--guide-width) - (var(--horizontal-margin) * 2)),calc(var(--max-width) - var(--guide-width)));

  --height: var(
    --lg-height,var(--md-height,var(--smd-height,var(--sm-height)))
  );
  --grid-rows: var(
    --lg-grid-rows,var(--md-grid-rows,var(--smd-grid-rows,var(--sm-grid-rows)))
  );
  --grid-columns: var(
    --lg-grid-columns,var(--md-grid-columns,var(--smd-grid-columns,var(--sm-grid-columns)))
  );
  --cell-padding: 48px;
  --grid-divider-gap: calc(140px - var(--cell-padding));

  justify-content: center;
  margin: 0px auto;
  overflow: hidden;
  padding: 50px;
  background-color:#fff;
  display:grid;
  position: relative;

  --column-width: calc(var(--width) / var(--grid-columns));
  --row-height: calc(var(--height) / var(--grid-rows));

  grid-template-columns: repeat(var(--grid-columns),var(--column-width));
  grid-template-rows: repeat(var(--grid-rows),var(--row-height));
  grid-row: auto auto;
  gap: 1px;


}


.box{
  background-color: #ffffff00;
 
  outline: 1px  solid #e3e3e373;



  font-family:sans-serif;
  grid-column-start: var(--x);
  grid-row-start: var(--y);
  //height: var(--height);
  //width: var(--width);

}



.title{
  outline: 1px  solid #ffffff73;
  padding:20px;
  text-align: center;
  overflow: hidden;
  font-family:sans-serif;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 4;
  outline: #860f0f;
  background-color: white;
  font-family: 'bricolage';
    font-weight: bold;
    font-size: 36px;
}

.anim{

  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 8;
  background-color: white;


}

.anim2{

  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 9;


}

//https://codepen.io/_helmut/pen/wvGYYEx
.space{
  outline:none;
  //outline: 1px  solid #e3e3e373;
  grid-column-start: 1;
  grid-column-end: 13;
  height: 100px;

}



.rainbow{

    background-color: #b02626;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 9;

    --yellow: rgba(255,206,32,.8);
    --red: rgba(232, 65, 65, 0.8);
    --blue: rgba(70, 135, 195, 0.8);
    --cyan: rgba(15,255,169,.8);
    --angle: 180deg;
    --offset: 60%;
    background: conic-gradient(from var(--angle) at 50% var(--offset),transparent 0deg,var(--blue) 72.0000010728836deg,var(--cyan) 144.0000021457672deg,var(--yellow) 216.00000858306885deg,var(--red) 288.0000042915344deg,transparent 1turn);
    background-color: #ffffff;


    



}



.about{
  outline: 1px  solid #e3e3e373;
  background-color: #ffffff;
  grid-column-start: 1;
  grid-column-end: 13;
  height: fit-content;
  //border-radius: 10px;
  overflow: hidden;
}



























.hero {
  display: flex; // block:  starts on new line + takes up the whole width
  justify-content: center;
  background-color: var(--home-hero-bg-color);
  overflow: hidden;
}

.hero__container {
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}


.hero__main {
  position: relative;
  text-align: center;
  margin: 0px;
  z-index: 500;

  bottom: 0px;
  right: 0px;

  & h1 {
    margin: 0px;
    font-family: 'bricolage';
    font-weight: bold;
    font-size: 56px;
    background-color: var(--home-hero-text-bg-color);
    padding: 5px;
  }

  & h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 40px;
    margin-bottom: 32px;
    background-color: var(--home-hero-text-bg-color);
    padding: 5px;
  }
}

.hero__tagline{
  margin-bottom: 30px !important;
}

.hero__socialproof{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.hero__avatar{
  width: 40px;
  height: 40px;
  margin-right: -10px;
}

.avatar{
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid var(--bg-color);
}

.socialproof__text{
  text-align: left;
  margin-left: 25px;
}


.hero__cta {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subCta {
  // Size and Position
  display: flex;
  width: fit-content;
  // Style
  color: var(--home-hero-sub-cta);
  background-color: var(--home-hero-sub-cta-bg);
  border: 2px solid var(--home-hero-sub-cta-border);
  border-radius: 8px;
  cursor: pointer;

  // Hover
  &:hover {
    background-color: var(--home-hero-sub-cta-bg-hover);
    color: var(--home-hero-sub-cta-hover);
  }


}

.learnCta {
  //Size and Position
  display: flex;
  width: fit-content;
  // Style
  color: var(--home-hero-learn-cta);
  background-color: var(--home-hero-learn-cta-bg);
  border: 2px solid var(--home-hero-learn-cta-border);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;

  // Hover
  &:hover {
    background-color: var(--home-hero-learn-cta-bg-hover);
    color: var(--home-hero-learn-cta-hover);
  }
}

@mixin cta__content {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;

  & i {
    font-size: 30px;
    padding-right: 15px;
  }
}

.subCta__content {
  @include cta__content();
  padding: 5px 20px 5px 15px;
}

.learnCta__content {
  @include cta__content();
  padding: 5px 30px 5px 25px;
}


@media only screen and (max-width: $laptop-breakpoint) {
  .circle {
    display: none;
  }

  .hero__main {
    & h1 {
      font-size: 35px;
    }

    & h2 {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {


  .hero__main {
    & h1 {
      font-size: 30px;
    }

    & h2 {
      font-size: 20px;
    }
  }

  .hero__cta {
    flex-direction: column;
  }
}

// -------------- HERO END ---------------------------------------------



// -------------- CONTENT START ---------------------------------------------

@mixin content {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //text-align: left;
  position: relative;
  z-index: 5;
  padding-bottom: 25px;


}

.blog {
  @include content;
  background-color: var(--home-blog-content-bg-color);
  border-top: 5px dotted var(--home-content-border-color);
  border-bottom: 5px dotted var(--home-content-border-color);
}

.courses {
  @include content;
  background-color: var(--home-courses-content-bg-color);
}

.prelim {
  width: 80%;
  margin: 0 auto;
}

/*.content__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  width: 65%;
  align-content: center;
  gap: 40px;
  margin: 10px 0px 35px 0px;
}*/

.content__header {
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: 'bricolage';
  font-size: Xx-large;
}

.content__line {
  width: 100%;
  border: none;
  border-bottom: 4px solid #1f14e9;
  margin: 20px 0;
  width: 80px;
}

.content__cards {
  display: grid;
  row-gap: 50px;
  column-gap: 30px;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
  grid-template-columns: repeat(4, minmax(300px, 320px));
  grid-auto-flow: dense;
  justify-items: center; // center cards within grid
  justify-content: center; // center all cards within page
  width: 80%;
  margin: auto;
}

/*.content__grid{
  display: grid;
  row-gap: 50px;
  column-gap: 30px;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
/*grid-template-columns: repeat(4, minmax(300px, 320px));
  grid-auto-flow: dense;
  justify-items: center; // center cards within grid
  justify-content: center; // center all cards within page
  width: 80%;
  margin: auto;
}*/

.content__button {
  display: block;
  margin: auto;
  margin-top: 35px;
  max-width: 200px;
}

.content__button__outer {
  display: flex;
  width: fit-content;
  color: var(--home-content-button);
  border: 2px solid var(--home-content-button-border);
  border-radius: 8px;
  cursor: pointer;
}

.content__button__inner {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 20px;

  & i {
    font-size: 30px;
    padding-left: 15px;
  }
}

@media only screen and (hover: hover) {
  .content__card {
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition-duration: .1s;
    }
  }
}

@media only screen and (max-width: 1350px) {
  .content__cards {
    grid-template-columns: repeat(3, minmax(300px, 320px));
    width: 85%;
  }
}

@media only screen and (max-width: 1000px) {
  .content__cards {
    grid-template-columns: repeat(2, minmax(300px, 320px));
    width: 85%;
  }
}

@media only screen and (max-width: 670px) {
  .content__cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
    width: 85%;
  }
}