@import "@/styles/_variables.scss";

/*Chapter Icon
.block::before{
    content: '';
    position: absolute;
    top: 8px;
    right: 10px;
    width: 25px;
    height: 25px;
    z-index: 1;
    background-image: url('../../../public/icons/bookmark.png');
    background-size: cover;
    z-index: 1000;
  }*/

.wrap{
    position: absolute;
    left: 670px;
    top: -5px;
    width: 300px;
    overflow: visible;
}

.block{
    padding-top: 20px;
    height: calc(90vh - 400px);
    overflow-y: auto;
}

/*Non Sticky Sidebar*/
.sidebar__absolute{
    position: absolute;
    width: 300px;
    list-style-type: none;
}

/*Sticky Sidebar*/
.sidebar__stay{
    position: fixed;
    top: 220px;
    width: 300px;
    list-style-type: none;
}

.sidebar__toc{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}

.sidebar__list {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    border-left: 5px solid rgb(215, 215, 215);
}

.sidebar__item{
    text-align: left;
    padding: 0px 5px 0px 15px;
}

.sidebar__link__active{
    font-weight: bold;
}

.item__link{
    color: var(--text-color);
    text-decoration: none;
}

@media only screen and (max-width: $desktop-breakpoint){
    .wrap{
        position: static;
        width: 100%;
    }
    .block{
        height: auto;
        overflow:visible;
        position: static;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        left: 50%;
        transform: translate(0px, 0px);
    }
}




