//@import "@/styles/_variables.scss";


.prepost {
    background-color: #ffffff;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.meta {
    display: flex;
    padding-top: 25px;
    width: 650px;
    margin: auto;
}

.post {
    position: relative;
    display: block;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}


.post__title {
    font-size: 40px;
    width: 650px;
    margin: auto;
    position: relative;
    padding: 20pt 10pt 20pt 10pt;
}

.post__date {
    text-align: center;
    margin: 0px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.post__text {
    margin-bottom: 20px;
}

.questions {
    border-top: 3px dotted #aabee8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    margin: 10px;
    & h2{
        margin-top: 25px;
        margin-bottom: 25px;
    }
}


.discord {
    display: flex;
    width: fit-content;
    color: var(--course-question-discord);
    background-color: var(--course-question-discord-bg);
    border: 2px solid var(--course-question-discord-border);
    border-radius: 8px;
    cursor: pointer;
    // Hover
    &:hover {
        background-color: var(--course-question-discord-bg-hover);
        color: var(--course-question-discord-hover);
    }
}

.discord__content {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 5px 30px 5px 25px;
    .discord__icon {
        font-size: 30px;
        padding-right: 15px;
    }
}


@media only screen and (max-width: 768px) {
    .post__title {
        padding-left: 0px;
        padding-right: 0px;
    }

    .meta,
    .post__title,
    .post {
        width: calc(100svw - (2 * 20px));
    }
}