@import "@/styles/_variables.scss";

// ---------------------------CSS for Social Media Icons-------------------------------------

.wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.post__socials {
    display: inline-block;
    height: $social-icon-size;
    width: $social-icon-size;
    margin: 0px 10px;
    overflow: hidden;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
    transition: all 0.4s ease-out;
    border-width: 0px;
    background: $bg-color-social-icons;
    //box-shadow: $box-shadow-social-icons;
    color: black;
}


.post__socials div {
    display: inline-block;
    height: $social-icon-size;
    width: $social-icon-size;
    border-radius: $social-icon-size;
    box-sizing: border-box;
    line-height: $social-icon-size;
    text-align: center;
    transition: all 0.4s ease-out;
}

/*
.post__socials div i {
    font-size: 20px;
    line-height: $social-icon-size;
} 

.post__socials span {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    width: 110px;
    text-align: center;

}*/

/* Color switch on hover is only on if device support hover */
@media (hover: hover) {
    .post__facebook:hover>div {
        background-color: #4267B2;

        .facebook {
            color: white
        }
    }

    .post__linkedin:hover>div {
        background-color: #0072b1;

        .linkedin {
            color: white
        }
    }

    .post__twitter:hover>div {
        background-color: #1DA1F2;

        .twitter {
            color: white
        }
    }

    .post__github:hover>div {
        background-color: #171515;

        .github {
            color: white
        }
    }

    .post__youtube:hover>div {
        background-color: #FF0000;

        .youtube {
            color: white
        }
    }

    .post__copy:hover>div {
        background-color: #171515;

        .link {
            color: white
        }
    }
}


.post__copy:active {

    .getlink {
        display: none;
    }

    .copied {
        display: inline-block;
    }
}


/* Icons only expand if device supports hover and width is larger than tablet breakpoint 
@media only screen and (hover: hover) and (min-width: $tablet-breakpoint) {
    .post__socials:hover {
        width: 170px;
    }
}*/

/* If width is smaller than $tablet-breakpoint, Icons remain at width 50px 
@media only screen and (max-width: $tablet-breakpoint) {
    .post__socials {
        width: 50px;
        background: none;
        box-shadow: none;
    }
}*/


@media only screen and (max-width: $mobile-breakpoint) {
    .post__socials {
        margin: 0px;
    }
}