@import "@/styles/_variables.scss";

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent gray color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cookie__container {
    z-index: 1000;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    max-width: 400px;
  }
  
  .cookie__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
  }
  
  .cookie__text {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .cookie__button {
    background-color: rgb(59, 196, 59);
    color: #fff;
    border: none;
    margin-top: 15px;
    padding: 15px 50px;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
      scale: 1.1;
      transition: ease-in-out 0.3s;
    }
  }

  .cookie__title{
    font-weight:700;
    font-size: larger;
  }

  .icon{
    margin-top: 5px;
    margin-bottom: 12px;
    scale: 1.5;
    color: rgb(59, 196, 59);
  }

  .sepparator {
    height: 2px;
    background: #555555;
    width: 150px;
    border-radius: 3px;
    border-width: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
}