
/*Particle Config*/
$particle-count: 8;
$particle-size: 10px;
$particle-distance: 500px;
$particle-min-speed: 9000;  // ms
$particle-max-speed: 10000; // ms
$particle-max-delay: 10000; // ms

.bottomparticles {
  position: relative;

  z-index: 1;

  .bubble {
    opacity: 0;
    position: absolute;
    color: var(--home-float-icons-color);
    width: 0px;
    height: 0px;


    // Randomize bubles
    @for $i from 1 through $particle-count {
      // random animation speed
      $speed: random($particle-max-speed) + 0ms;

      @if $speed < $particle-min-speed {
        $speed: $particle-min-speed + 0ms;
      }

      &:nth-child(#{$i}) {
        left: random(100) + 0%;
        animation: blow $speed infinite;
        animation-delay: random($particle-max-delay) + 0ms;
        z-index: 1;
      }
    }
  }
}

@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0) scale(2);
  }

  20% {
    opacity: 1;
  }

  65% {
    opacity: 0.001;
  }

  100% {
    opacity: 0;
    transform: translate(0, -$particle-distance) scale(2);
  }
}

