

.breadcrumbs {
    font-size: 12px;
  }
  
  .separator {
    margin: 0 6px;
    color: rgb(128, 128, 128);

  }

  .link{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-weight: 400;
    color: rgb(128, 128, 128);

  }