@import "@/styles/_variables.scss";

.breadcrumbs {
    font-size: 12px;
  }
  
  .separator {
    margin: 0 6px;
    color: rgb(207, 207, 207);
    font-weight: 600;
  }

  .link{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-weight: 400;
    color: rgb(207, 207, 207);
    font-weight: 600;
  }