

.breadcrumbs {
    font-size: 12px;
  }
  
  .separator {
    margin: 0 6px;
    color: rgba(192, 192, 192, 0.8);

  }

  .link{
    font-weight: 600;
    font-weight: 400;
    color: rgba(192, 192, 192, 0.8);

  }